.App {
  text-align: center;
}

.App-body {
  background-color: #FAF9F6;
  margin: 1vw;
  padding: 5vw;
  margin-top: 0;
  padding-top: 2vw;
  border-radius: 12px;
}

.grid-view {
  padding: 2vw;
}

.fix-top-right {
  color: red;
  
}